
.icon-android:before { content: '\e840'; } /* '' */
.icon-ie:before { content: '\e83f'; } /* '' */
.icon-grooveshark:before { content: '\e83e'; } /* '' */
.icon-spotify:before { content: '\e83d'; } /* '' */
.icon-dribbble:before { content: '\e841'; } /* '' */
.icon-youtube:before { content: '\e845'; } /* '' */
.icon-podcast:before { content: '\e83c'; } /* '' */
.icon-cloudapp:before { content: '\e842'; } /* '' */
.icon-dropbox:before { content: '\e843'; } /* '' */
.icon-itunes:before { content: '\e844'; } /* '' */
.icon-buffer:before { content: '\e83b'; } /* '' */
.icon-pocket:before { content: '\e83a'; } /* '' */
.icon-infinity:before { content: '\e868'; } /* '' */
.icon-left-hand:before { content: '\e85a'; } /* '' */
.icon-up-hand:before { content: '\e85b'; } /* '' */
.icon-right-hand:before { content: '\e859'; } /* '' */
.icon-down-hand:before { content: '\e85c'; } /* '' */
.icon-cloud-thunder:before { content: '\e86c'; } /* '' */
.icon-direction:before { content: '\e861'; } /* '' */
.icon-heart:before { content: '\e823'; } /* '' */
.icon-cloud:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e82f'; } /* '' */
.icon-tv:before { content: '\e819'; } /* '' */
.icon-sound:before { content: '\e81c'; } /* '' */
.icon-videocam:before { content: '\e825'; } /* '' */
.icon-trash:before { content: '\e82e'; } /* '' */
.icon-user:before { content: '\e824'; } /* '' */
.icon-down-outline:before { content: '\e88b'; } /* '' */
.icon-key:before { content: '\e80c'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e81f'; } /* '' */
.icon-camera:before { content: '\e826'; } /* '' */
.icon-left-outline:before { content: '\e88a'; } /* '' */
.icon-tag:before { content: '\e82b'; } /* '' */
.icon-lock:before { content: '\e829'; } /* '' */
.icon-lightbulb:before { content: '\e81a'; } /* '' */
.icon-diamond:before { content: '\e812'; } /* '' */
.icon-resize-full-outline:before { content: '\e884'; } /* '' */
.icon-location:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e82a'; } /* '' */
.icon-comment:before { content: '\e82d'; } /* '' */
.icon-inbox:before { content: '\e815'; } /* '' */
.icon-cup:before { content: '\e804'; } /* '' */
.icon-doc:before { content: '\e821'; } /* '' */
.icon-right-outline:before { content: '\e889'; } /* '' */
.icon-mail:before { content: '\e822'; } /* '' */
.icon-thumbs-up:before { content: '\e82c'; } /* '' */
.icon-photo:before { content: '\e827'; } /* '' */
.icon-note:before { content: '\e820'; } /* '' */
.icon-clock:before { content: '\e81b'; } /* '' */
.icon-paper-plane:before { content: '\e807'; } /* '' */
.icon-params:before { content: '\e81e'; } /* '' */
.icon-up-outline:before { content: '\e888'; } /* '' */
.icon-money:before { content: '\e80f'; } /* '' */
.icon-database:before { content: '\e80b'; } /* '' */
.icon-music:before { content: '\e801'; } /* '' */
.icon-megaphone:before { content: '\e80a'; } /* '' */
.icon-graduation-cap:before { content: '\e809'; } /* '' */
.icon-beaker:before { content: '\e80d'; } /* '' */
.icon-food:before { content: '\e810'; } /* '' */
.icon-t-shirt:before { content: '\e813'; } /* '' */
.icon-fire:before { content: '\e808'; } /* '' */
.icon-attach:before { content: '\e828'; } /* '' */
.icon-shop:before { content: '\e811'; } /* '' */
.icon-calendar:before { content: '\e81d'; } /* '' */
.icon-wallet:before { content: '\e814'; } /* '' */
.icon-cd:before { content: '\e816'; } /* '' */
.icon-truck:before { content: '\e80e'; } /* '' */
.icon-globe:before { content: '\e805'; } /* '' */
.icon-desktop:before { content: '\e88c'; } /* '' */
.icon-laptop:before { content: '\e88d'; } /* '' */
.icon-qrcode:before { content: '\e89e'; } /* '' */
.icon-tablet:before { content: '\e88e'; } /* '' */
.icon-address:before { content: '\e87e'; } /* '' */
.icon-feather:before { content: '\e886'; } /* '' */
.icon-video:before { content: '\e883'; } /* '' */
.icon-users-outline:before { content: '\e87f'; } /* '' */
.icon-headphones:before { content: '\e885'; } /* '' */
.icon-home-outline:before { content: '\e87d'; } /* '' */
.icon-mail-alt:before { content: '\e881'; } /* '' */
.icon-music-outline:before { content: '\e882'; } /* '' */
.icon-plane-outline:before { content: '\e891'; } /* '' */
.icon-looped-square-outline:before { content: '\e892'; } /* '' */
.icon-star-alt:before { content: '\e880'; } /* '' */
.icon-tags:before { content: '\e887'; } /* '' */
.icon-tree:before { content: '\e893'; } /* '' */
.icon-cloud-sun:before { content: '\e890'; } /* '' */
.icon-vcard:before { content: '\e862'; } /* '' */
.icon-map:before { content: '\e860'; } /* '' */
.icon-language:before { content: '\e867'; } /* '' */
.icon-install:before { content: '\e86b'; } /* '' */
.icon-mouse:before { content: '\e86d'; } /* '' */
.icon-suitcase:before { content: '\e87c'; } /* '' */
.icon-road:before { content: '\e85e'; } /* '' */
.icon-flow-branch:before { content: '\e864'; } /* '' */
.icon-flow-tree:before { content: '\e863'; } /* '' */
.icon-brush:before { content: '\e86a'; } /* '' */
.icon-magnet:before { content: '\e869'; } /* '' */
.icon-traffic-cone:before { content: '\e87b'; } /* '' */
.icon-cc:before { content: '\e86f'; } /* '' */
.icon-cc-by:before { content: '\e870'; } /* '' */
.icon-cc-nc:before { content: '\e871'; } /* '' */
.icon-cc-nc-eu:before { content: '\e872'; } /* '' */
.icon-cc-nc-jp:before { content: '\e873'; } /* '' */
.icon-cc-sa:before { content: '\e874'; } /* '' */
.icon-cc-nd:before { content: '\e875'; } /* '' */
.icon-cc-pd:before { content: '\e876'; } /* '' */
.icon-cc-zero:before { content: '\e879'; } /* '' */
.icon-cc-share:before { content: '\e877'; } /* '' */
.icon-cc-remix:before { content: '\e878'; } /* '' */
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e846'; } /* '' */
.icon-emo-sad:before { content: '\e848'; } /* '' */
.icon-emo-sleep:before { content: '\e849'; } /* '' */
.icon-emo-like:before { content: '\e84a'; } /* '' */
.icon-emo-devil:before { content: '\e84b'; } /* '' */
.icon-emo-o:before { content: '\e84c'; } /* '' */
.icon-emo-p:before { content: '\e84d'; } /* '' */
.icon-emo-coffee:before { content: '\e84e'; } /* '' */
.icon-emo-sunglasses:before { content: '\e84f'; } /* '' */
.icon-emo-meh:before { content: '\e850'; } /* '' */
.icon-emo-beer:before { content: '\e851'; } /* '' */
.icon-emo-grin:before { content: '\e852'; } /* '' */
.icon-cafe:before { content: '\e894'; } /* '' */
.icon-emo-angry:before { content: '\e853'; } /* '' */
.icon-emo-angel:before { content: '\e854'; } /* '' */
.icon-emo-cry:before { content: '\e855'; } /* '' */
.icon-emo-shoot:before { content: '\e856'; } /* '' */
.icon-emo-squint:before { content: '\e857'; } /* '' */
.icon-emo-laugh:before { content: '\e858'; } /* '' */
.icon-emo-blink:before { content: '\e847'; } /* '' */
.icon-fast-food:before { content: '\e895'; } /* '' */
.icon-fire-station:before { content: '\e89d'; } /* '' */
.icon-fuel:before { content: '\e89c'; } /* '' */
.icon-golf:before { content: '\e89b'; } /* '' */
.icon-heliport:before { content: '\e89a'; } /* '' */
.icon-pitch:before { content: '\e896'; } /* '' */
.icon-school:before { content: '\e899'; } /* '' */
.icon-skiing:before { content: '\e898'; } /* '' */
.icon-swimming:before { content: '\e897'; } /* '' */
.icon-html5:before { content: '\e817'; } /* '' */
.icon-css3:before { content: '\e818'; } /* '' */
.icon-bullseye:before { content: '\e85d'; } /* '' */
.icon-ticket:before { content: '\e85f'; } /* '' */
.icon-facebook:before { content: '\e837'; } /* '' */
.icon-facebook-rect:before { content: '\e836'; } /* '' */
.icon-twitter-bird:before { content: '\e830'; } /* '' */
.icon-github-text:before { content: '\e835'; } /* '' */
.icon-github:before { content: '\e838'; } /* '' */
.icon-googleplus-rect:before { content: '\e834'; } /* '' */
.icon-vimeo:before { content: '\e832'; } /* '' */
.icon-tumblr:before { content: '\e833'; } /* '' */
.icon-instagram-filled:before { content: '\e839'; } /* '' */
.icon-win8:before { content: '\e831'; } /* '' */
.icon-education:before { content: '\e866'; } /* '' */
.icon-trophy:before { content: '\e87a'; } /* '' */
.icon-water:before { content: '\e865'; } /* '' */
.icon-mobile:before { content: '\e88f'; } /* '' */
.icon-rocket:before { content: '\e86e'; } /* '' */